[submodule "lib/mecha"]
	path = lib/mecha
	url = ../../Hejsil/mecha.git
[submodule "lib/zig-clap"]
	path = lib/zig-clap
	url = ../../Hejsil/zig-clap.git
[submodule "lib/sab"]
	path = lib/sab
	url = ../../Hejsil/sab.git
[submodule "lib/zig-datetime"]
	path = lib/zig-datetime
	url = ../../frmdstryr/zig-datetime.git
